# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: 'Publish package on Github'

on:
  push:
    branches: [ master ]
    tags: 
      - v**
  pull_request:
    branches: [ master, develop ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      pull-requests: read
    env:
      BUILD_CONFIG: 'Release'
      PROJECT_NAME: 'ReadWriteMemory.External'

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --configuration Release

    - name: Pack ReadWriteMemory package
      if: startsWith(github.ref, 'refs/tags/v')
      run: |
        if [[ $GITHUB_REF == refs/heads/master ]]; then
          echo "Publishing from the master branch."
          dotnet pack ReadWriteMemory.External --configuration $BUILD_CONFIG -o publish
        else
          echo "Publishing from a non-master branch."
          dotnet pack ReadWriteMemory.External --configuration $BUILD_CONFIG -o publish --version-suffix "prerelease"
        fi
        dotnet nuget push publish/*.nupkg --source https://nuget.pkg.github.com/Daiserdyne/index.json --api-key ${{ secrets.GITHUB_TOKEN }} --skip-duplicate

    - name: Create Github release
      uses: "marvinpinto/action-automatic-releases@latest"
      if: startsWith(github.ref, 'refs/tags/v')
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        prerelease: false
        files: |
          publish/*.zip
          publish/*.nupkg
